---
import BaseLayout from '../layout/BaseLayout.astro';
import '../styles/global.css';
---
 
<BaseLayout pageTitle={pageTitle}>
  <h1>My Astro Learning Blog</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    <ls><a href="/posts/post-1/">Post 1</a></ls>
  <Footer />
      <script>
    import "../scripts/menu.js";
  </script>
</body></BaseLayout>
