---
import BaseLayout from '../layout/BaseLayout.astro';
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div>{tags.map((tag) => <p>{tag}</p>)}</div>
  <p>Welcome to the home page!</p>
</BaseLayout>